name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed for actions/deploy-pages
      pages: write # Needed for actions/deploy-pages
      id-token: write # Needed for actions/deploy-pages
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install
        working-directory: ./src
        
      - name: Build site
        run: npm run build
        working-directory: ./src

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./src/dist/

      #- name: Deploy to GitHub Pages
        # id: deployment
        # uses: actions/deploy-pages@v4
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./src/dist/
